@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Titillium+Web:wght@300&family=Work+Sans&display=swap');

body {
    background-color: #e2e2e2;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

.main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 150px;
    max-width: calc(100% - 200px);
}

.text-box {
    text-indent:10%;
    flex: 0.5;
    background-color: white;
    padding: 50px;
    border-radius: 15px;
    margin-top: 14px;
    z-index: 1;
    text-align: justify;
}
.text-box h5{
    line-height: 1.34;
}
.background-image {
    flex: 0.7;
    height: 650px;
    background-image: url(run.jpg);
    background-size: cover;
    border-radius: 15px;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    position: relative;
    z-index: -1;
}
.userinput{
    margin-inline-start: 15%;
}
.etelname{
    padding: 10px;
}
.etelname[type="text"] {
    font-size:25px;
}
.total{
    margin-top: 20px;
}
.plusbutton {
    margin-top: 15px;
	border: 2px solid lightgrey;
	background-color: #aaaaaa;
	font-size: 20px;
	height: 2.5em;
	border-radius: 999px;
	position: relative;
}
.plusbutton:hover{
    color: #fff;
}
table ,td{
    text-align: center;
    border: 1px solid black ;
    padding: 7px;
    font-size: 20px;
    background-color: #ffffff;
}
th{
    border: 1px solid black ;
    font-size: 22px;
    padding: 8px;
    background-color: #fda34e;
    color: #ffffff;
}
.adatok{
    margin-bottom: 3%;
}
@media (max-width: 768px) {
    .main {
        flex-direction: column; /* Az elemek egy oszlopba rendeződjenek át kisebb képernyőn */
    }

    .text-box {
        width: 100%; /* Az egész szélesség elfoglalása */
        margin-left: 0; /* Margin törlése bal oldalról */
    }
}
.sidebar{
        background-color: rgb(158, 158, 158,0.15);
        backdrop-filter: blur(10px);
        color: #e2e2e2;
    }



